@font-face {
    font-family: "Jost";
    src:url("https://benekenobi.github.io/bachelor-kolloquium/fonts/Jost-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Source Code Pro" ;
    src:url("https://benekenobi.github.io/bachelor-kolloquium/fonts/SourceCodePro-VariableFont_wght");
}

/*-- scss:defaults --*/
$primary: #47476B;
$secondary: #005968;
$body-color: #000;
$link-color: $body-color;
$presentation-heading-font: "Jost", sans-serif;
$font-family-sans-serif: "Jost", sans-serif;
$font-family-monospace: "Source Code Pro", monospace;

.reveal .footer {
    font-size: .35em !important;
}
.reveal .slide-number {
    font-size: .35em !important;
}

.aside-footnotes {
    font-size: .5em !important;
}

.reveal .slide figure>figcaption {
    font-size: .5em !important;
}

.quarto-figure {
    margin-bottom: 0.1em !important;
}

.blocker {
    height: 100%;
    width: 100%;
}

.center-y {
    margin: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.middle {
    vertical-align: middle;
}

.orcid {
    height: 0.75em;
    vertical-align: top;
}